<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance entry</title>
    <style>
        body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.btn-primary:hover {
  background-color: #0056b3;
}

a {
  display: inline-block;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
  font-size: 16px;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

    </style>
</head>
<body>
    <form action="/balance" method="POST">
        <label for="balance" class="form-label">Enter Balance</label>
        <input type="password" class="form-control" id="balance" name="balance" aria-describedby="emailHelp" required>
        <button type="submit" class="btn btn-primary ">Record the balance</button>
        <a href="/">generate through details</a>
      </form>
    
</body>
</html>
