<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance entry</title>
</head>
<body>
    <form action="/balance" method="POST">
        <label for="balance" class="form-label">Enter Balance</label>
        <input type="password" class="form-control" id="balance" name="balance" aria-describedby="emailHelp" required>
        <button type="submit" class="btn btn-primary ">Record the balance</button>
        <a href="/">generate through details</a>
      </form>
    
</body>
</html>

