<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash Board</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .slider-value {
            color: black;
        }
        .delete-btn {
            cursor: pointer;
            color: rgb(0, 0, 0);
            font-size: 1.2em;
        }
    </style>
</head>
<body>
<div class="container">
    <aside>
        <div class="toggle">
            <h2>FinTrack</h2>
            <a href="#" class="close" id="close-btn">
                <span class="material-symbols-outlined">
                    close
                </span>
            </a>
        </div>
        <div class="sidebar">
            <a href="#" class="active">
                <span class="material-symbols-outlined">
                    dashboard
                </span>
                <h3>Dashboard</h3>
            </a>
            <a href="/" class="home">
                <span class="material-symbols-outlined">
                    home
                </span>
                <h3>Home</h3>
            </a>
            <a href="#" class="adAc">
                <span class="material-symbols-outlined adAcSpan">
                    person_add
                </span>
                <h3>Add Account</h3>
            </a>
            <a href="#" class="settings">
                <span class="material-symbols-outlined">
                    settings
                </span>
                <h3>Settings</h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">
                    logout
                </span>
                <h3>Logout</h3>
            </a>
        </div>
    </aside>

        <!-- MAIN CONTENT -->
        <main>
            <div class="all-finDtls">
                <div class="card">
                    <div class="card-header">
                        <h1>FinBank</h1>
                        <img class="logo" src="/styles/0b087c9ad51a5c0a3afd57a05ebe4bee-removebg-preview.png" alt="Visa Logo">
                    </div>
                    <div class="card-number">
                        <%= cardnumber %>
                    </div>
                    <div class="card-footer">
                        <span>Cardholder name</span>
                        <h2>
                            <%= name %>
                        </h2>
                        <span class="exDate">Expiry date</span>
                        <h2 class="exDateDtls">08/2028</h2>
                    </div>
                </div>
                <div class="balance">
                    <h1>Balance</h1>
                    <h2>Rs. <%= balance %>
                    </h2>
                </div>
                <div class="share">
                    <div class="share-to-friends">
                        <p>Share to friends:</p>
                        <div class="social-icons">
                            <a href="https://api.whatsapp.com/send?text=your-website-link" target="_blank">
                                <i class="fa fa-whatsapp" style="font-size:50px"></i>
                            </a>
                            <a href="https://www.linkedin.com/shareArticle?url=your-website-link" target="_blank">
                                <i class="fa fa-linkedin-square" style="font-size:50px"></i>
                            </a>
                            <a href="https://twitter.com/intent/tweet?url=your-website-link&text=Check%20this%20out!"
                                target="_blank">
                                <i class="fa fa-twitter" style="font-size:50px"></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fa fa-instagram" style="font-size:50px"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="expense-tracker">
                <h1 class="heading">Track Your Expenses</h1>
                <ul class="expenses-container" id="expensesContainer">
                </ul>
                <!-- Placeholder for No Cards Message -->
            <!-- <p id="no-cards-msg">No cards are present. To add expense, click on the add icon.</p> -->
              <div class="addIcon">
            <span id="add-expense" class="material-symbols-outlined plusIcon">
            add
            </span>
            </div>
            </div>
            
            <div class="goals">
              <h1 class="goalHeading"> Dream Big Save Now</h1>
            <ul id="goal-items">
            </ul>
            <div class="addIcon">
            <span id="add-goal" class="material-symbols-outlined plusIcon">
            add
            </span>
            </div>
            </div>            
        </main>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var addButton = document.getElementById('add-expense');
        var goalButton = document.getElementById('add-goal');
        
        addButton.addEventListener('click', function() {
        var container = document.getElementById('expensesContainer');
        var noCards = document.getElementById('no-cards-msg');
        
        // If 'no-cards-msg' message exists, remove it
        if (noCards) {
        noCards.remove();
        }
        
        var card = document.createElement('li');
        card.className = 'expenseCard';
        var date = new Date().toISOString().split('T')[0];
        card.innerHTML = `
        <div class="redIcon"></div>
        <input id="expense-input" type="text" placeholder="Enter expense" autofocus autocomplete="off"/>
        <p>Date: ${date}</p>
        <p>Time: ${new Date().toLocaleTimeString()}</p>
        `;
        container.appendChild(card);
        });
        
        goalButton.addEventListener('click', function() {
        var container = document.getElementById('goal-items');
        var nogoalCards = document.getElementById('no-goal-cards-msg');
        
        // If 'no-cards-msg' message exists, remove it
        if (nogoalCards) {
        nogoalCards.remove();
        }
        
        var card = document.createElement('li');
        card.className = 'goalCard';
        var date = new Date().toISOString().split('T')[0];
        card.innerHTML = `
        <input type="range" class="budgetProgressBar" id="budgetSlider" min="0" max="10000" >
                <input type="number" id="userBudget" placeholder="Enter Budget" min="0">
                <input type="number" id="userSavings" placeholder="Enter Savings" min="0">
                <div class="slider-value"><span id="sliderValue"></span></div>
        <p class="goal-date">Date: ${date}</p>
        `;
        container.appendChild(card);
        });
        
        // Check if there are any cards when the app loads
        window.onload = function() {
        var expenseContainer = document.getElementById('expensesContainer');
        var goalContainer = document.getElementById('goal-items');
        
        if (expenseContainer.children.length === 0) {
        var noCardsMsg = document.createElement('p');
        noCardsMsg.id = 'no-cards-msg';
        noCardsMsg.textContent = 'No cards are present. To add an expense, click on the add icon.';
        expenseContainer.appendChild(noCardsMsg);
        }
        
        if (goalContainer.children.length === 0) {
        var nogoalCardsMsg = document.createElement('p');
        nogoalCardsMsg.id = 'no-goal-cards-msg';
        nogoalCardsMsg.innerHTML = `“If you’re saving, you’re succeeding.” - Steve Burkholder.<br>Click on the '+' icon to open the door to a better future.`;
        goalContainer.appendChild(nogoalCardsMsg);
        }
        };
        
        document.getElementById('expense-input').addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
        // Code to save the expense goes here
        var expense = this.value;
        // Add code to handle saving the expense
        }
        });
        });
        
        
        </script>    
</body>
</html>
