<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter PIN</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <form id="mpinForm" action="/entre" method="POST" class="hide">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Enter the correct pin</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="pin" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>
