@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* ===== HERE :ROOT INDICATES THE ROOT ELEMENT OF THE DOCUMENT
WHICH IS HTML SO :ROOT IS USED TO DECLARE GLOBAL VARIABLES
IN CSS ========  */
:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9cc;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}
html, body {
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none ;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background)!important;
}

a{
    color: var(--color-dark);
}

span {}

span {}


h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
    position: relative;
    top: 10px;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside{
    height: 100vh;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    display: flex;
    align-items: left;
    color: var(--color-info-dark);
    height: 3rem;
    gap: .3rem;
    position: relative;
    margin-left: 1rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    line-height: 10px;
    transition: all 0.3s ease;
    position: relative;
    top: 13px;
}

button.lastChild {
    background: transparent;
    display: flex;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    color: var(--color-info-dark);
    font-size: 1.6rem;
    line-height: 10px;
    margin-left: 1rem;
    transition: all 0.3s ease;
}

button.lastChild span{
    position: relative;
    top: 3px;
    transition: all 0.3s ease;   
}

button.lastChild:hover{
    color: var(--color-primary);
    margin-left:0.6rem;
}

aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 42px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar .home{
position: relative;
top: 10px;
}

aside .sidebar .adAc{
    position: relative;
    top:10px;    
}


aside .sidebar .settings{
    position: relative;
    top: 10px;
}



aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 0.5rem;
}

main{
    margin-top: 1.4rem;
}

main .all-finDtls{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.card {
    width: 350px;
    height: 40vh;
    background: linear-gradient(45deg, orange, pink);
    border-radius: 15px;
    padding: 20px;
    color: #edeffd;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  }
.card:hover{
    box-shadow: none;
    cursor: pointer;
}  

.card img{
    width: 100px;
    height: 43px;
}  
  
.card .logo{
position: relative;
top: -40px;
left: 200px;    
}  

.card .card-number{
    position: relative;
    top: -10px;
    text-align: center;
    font-size: 25px;
}

.card .exDate{
    position: relative;
    top: -45px;
    left: 200px;
}

.card .exDateDtls{
    position: relative;
    top: -45px;
    left: 200px;
}

.balance{
    background-color: #7c53c3; /* Purple background */
    border-radius: 20px;
    padding: 20px;
    color: white;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    text-align: center;
    height: 40vh;
}

.balance:hover{
    box-shadow: none;
}

main .balance h2{
    font-size: 2em;
}

main .share{
background-color: #a5ea69;
color: #fff;   
border-radius: 20px;
padding: 20px;
color: white; 
box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
text-align: center;
width: 20vw;
}

main .share p{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

main .share i{
    color: #fff;
    position: relative;
    top: 50px;
    margin-left: 5px;
} 

main .share:hover{
box-shadow: none;
}

main .expense-tracker{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .expense-tracker:hover{
    box-shadow: none;
}

main .expense-tracker .heading{
    text-align: center;
}

a.expenseSave{
    position: relative;
    left: 40%; 
    font-weight: 600;
}

main .expense-tracker p{
    text-align: center;
}

main .expense-tracker div:last-child{
    text-align: center;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #333;
    border-radius:100% ;
    position: relative;
    left: 80%; 
}

main .expense-tracker .plusIcon{
    position: relative;
    top: 8px;
}

main .expense-tracker .expenses-container{
    position: relative; /* Add this line */
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center cards horizontally */
    gap: 1rem; /* Space between cards */
}

main .expense-tracker .expenseCard{
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    /* Remove any position:absolute or position:relative if present */
    width: 100%; /* Adjust width as needed */
    height: 10vh;
    background-color: #f44336;
    
}

main .expense-tracker .expenseCard:hover{
    box-shadow: none;
}

main .expense-tracker .expenseCard .redIcon{
border-radius: 100%;
width: 15px;
height: 15px;
background-color: #fff;
position: relative;
top: 30%;
left: 10%;
}

main .expense-tracker .expenseCard input{
    position: relative;
    left: 15%;
    font-size: 18px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

::placeholder{
    color: #fff;
}

main .expense-tracker .expenseCard p{
    position: relative;
    margin-left: 5%;
    top: 30%;
    left: 15%;
    font-size: 16px;
    color: #fff;
}

main .expense-tracker .bin{
    position: relative;
    left: 20%;
    top: 5%;
    color: #fff;
}

main .goals{
padding: var(--card-padding);
background-color: var(--color-white);
border-radius: var(--card-border-radius);
margin-top: 1rem;
box-shadow: var(--box-shadow);
/* display: flex;
justify-content: space-around;
flex-wrap: wrap; */
gap: 1.4rem;
cursor: pointer;
transition: all 0.3s ease;    
background-color: rgb(0, 102, 255);
color: #fff;
}

main .goals  .addIcon{
text-align: center;
width: 40px;
 height: 40px;
color: #333;
background-color: #fff;
border-radius:100% ;
position: relative;
left: 80%;
}

main .goals .plusIcon{
    position: relative;
    top: 8px;
}

main .goals .goalHeading{
    text-align: center;
}

main .goals .goalCard{
    display: flex;
}

main .goals #goal-items{
    text-align: center;
    position: relative; /* Add this line */
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    /* align-items: center;  Center cards horizontally */
    gap: 1rem; /* Space between cards */

}

main .goals #goal-items li{
    width: 100%; /* Adjust width as needed */
    height: 10vh;
    border-radius:10px ;
    background-color: #edeffd;
}

main .goals #goal-items input{
    font-size: 18px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
}

main .goals #goal-items input::placeholder{
    color: #181a1e;
}

main .goals #goal-items p{
    color: #fff;
}

main .goals #goal-items .goal-date{
    color: #333;
    font-size: 16px;
    position: relative;
    top: 25%;
}

main .goals #goals-items li{
position: relative; /* Add this line */
/* display: flex; */
flex-direction: column; /* Stack cards vertically */
align-items: center; /* Center cards horizontally */
gap: 1rem; /* Space between cards */    
}

main .goals #goals-items li .goalCard{
    display: flex;
    background-color: #fff;
    color: #333;
}

span.material-symbols-outlined.bin2 {
    color: #181a1e;
    position: relative;
    top: 20%;
    left: 10%;
}
    
.right-section{
    margin-top: 1.4rem;
    width: 50%;
}

.right-section .nav{
    display: flex;
    justify-content: baseline;
    gap: 2rem; 
}

.right-section .nav button{
    display: none;
}

.right-section .dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 3.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    position: relative;
    left: 20%;
}

.right-section .dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.profile{
    width: 30%;
}

.profile .main-pic{
    width: 1.5rem;
    height: 1.6rem;
    cursor: pointer;
    position: relative;
    left: 60%;
    cursor: pointer;
    position: relative;
    left: 60%;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
}

.profile .sub-menu-div{
    position: relative;
    left: -254px;
    top: 7%;
    right: 5%;
    width: 320px;
    background: #fff;
    /* padding: 20px; */
    margin: 10px;
    border-radius: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 2;
}

.profile .sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.profile .user-info{
    align-items: center;
}

.profile .user-info h2{
font-weight: 700;
color: #181a1e;
}

.move-to-acc {
display: flex;
margin-top: 15px;
}

.nav{
    margin-top: 1.4rem;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 2rem; 
}

.nav button{
    display: none;
}

.dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 3.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    position: relative;
    left: 20%;
}

.dark-mode span{
    font-size: 1.6rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.profile{
    width: 30%;
}


.profile .open-menu {
    max-height:400px;
    z-index: 2;
}

.profile .sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.profile .user-info{
    align-items: center;
    z-index: 2;
}

.profile .user-info .hidden-pic{
width: 2.6rem;
height: 2.9rem;
position: relative;
top: 9px;
left: 40%;
border-radius: 50%;
z-index: 2;
}


.profile .user-info h2{
font-weight: 700;
position: relative;
left: 5%;
top: 10px;
}

#profileLink{
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    font-size: 15px;
    position: relative;
left: 5%;
top: 10px;
}

#profileLink span{
    color: #181a1e;
}

#profileLink p{
width: 70%;
color: #181a1e;
z-index: 2;
}

#profileLink .arrow{
    font-size: 22px;
    color: #181a1e;
    z-index: 2;
}

#profileLink:hover{
    margin-left: 0.5rem;
    color: var(--color-primary);
}

.move-to-acc {
display: flex;
margin-top: 15px;
}

.sub-menu-link{
display: flex; 
align-items: center;
margin: 12px 0;
transition: all 0.3s ease;
position: relative;
left: 5%;
z-index: 2;
}

.sub-menu-link span{
    color: #181a1e;
}

.sub-menu-link p{
    color: #181a1e;
    font-size: 15px;
    width: 70%;
    margin-left: 2px;
    z-index: 2;
}

.sub-menu-link .arrow{
    font-size: 22px;
    z-index: 2;
    color: #181a1e;
}

.sub-menu-link:hover{
    margin-left: 0.5rem;
    color: var(--color-primary);
}

.right-section{
    margin-top: 3.8rem;
    position: absolute;
    right: 7px;
    width: 13%;
    background-color: var(--color-white);
border-radius: var(--card-border-radius);
    background:linear-gradient(35deg, rgb(255, 199, 192), rgb(0, 255, 110),rgb(226, 192, 255),rgb(0, 255, 234),rgb(225, 255, 0)); ;
 height: 100vh;
 box-shadow: var(--box-shadow);
}

.right-section .ad{
position: relative;
padding: var(--card-padding);
margin-top: 1rem;
gap: 1.4rem;
transition: all 0.3s ease;
color: #fff;
text-align: center;
 padding: 12px;
}

.right-section:hover{
    box-shadow: none;
}
.right-section .ad .adlines{
    position: relative;
    top: 30px;
}


.right-section .ad a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: medium;
    border-radius: 50px;
    padding: 14px 20px;
    margin-top: 20px;  
    background: #181a1e;
    position: relative;
    top: 20px; 
}

/* Responsive design for mobile devices */


/* Additional styles for other breakpoints */
@media screen and (min-width:960px) and (max-width: 1104px) {
    .container {
       grid-template-columns: 8rem auto 20rem; /*  Adjust column widths */
    }
 
    aside{
        width: 15vw;
    }

    aside .sidebar{
        height: 98vh;
    }
    main{
        width: 500px;
        position: relative;
        left: 10%;
    }

    .right-section{
        width: 20vw;
        position: absolute;
        right: 2%;

    }

    .card, .balance {
        width: 100%; /* Full width for cards and other elements */
        margin-top: 1rem; /* Add some top margin */
    }

    main .balance{
        height: 80%;
    }

    main .share{
        width: 100%;
    }

    main .share i{
        position: relative;
        top: 5%;
    }

    main .all-finDtls {
        grid-template-columns: 1fr;
    }
    
    main .expense-tracker {
        width: 32rem;
        position: absolute;
        left: -192px;
    }

    main .goals {
        height: 29vh;
        top: 616px;
        width: 33rem;
        position: absolute;
        right: -236px;
    }
/* Close button functionality for sidebar */
#close-btn {
    cursor: pointer;
}

#close-btn:hover {
    color: var(--color-primary);
}
}
/* @media screen and (max-width: 765px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        width: 100%;
    }
    main .goals #goal-items .goal-date {
        color: #333;
        font-size: 11px;
        position: relative;
        left: -20%;
        top: 25%;
    }
    span.material-symbols-outlined.bin2 {
        color: #181a1e;
        position: relative;
        top: 37%;
        left: -4%;
    }

    .card {
        width: 90%;
        max-width: 400px;
        margin: 1rem 0;
        height: auto;
    }

    .balance {
        width: 90%;
        max-width: 400px;
        margin: 1rem 0;
        height: auto;
    }

    .share {
        background-color: #a5ea69;
        color: #fff;
        border-radius: 20px;
        padding: 1rem;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 90%;
        max-width: 400px;
        margin: 1rem 0;
        height: auto;
    }



    main .all-finDtls {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 213%;
        max-width: 559px;
        margin: 1rem 0;
    }
} */

@media screen and (min-width:920px) and (max-width:960px){
    .container{
        width: 94%;
    }
    aside .sidebar{
        height: 39rem;
    }
    main .all-finDtls {
        grid-template-columns: 1fr;
    }  

    main .balance{
        height: 90%;
    }
    main .share{
        width: 100%;
    }

    main .share i{
        position: relative;
        top: 5%;
    }


.right-section{
    width: 19rem;
    height: 40rem;
}
.right-section h1{
    font-size: 32px;
}
main .expense-tracker {
    width: 30rem;
    position: absolute;
    left: 16px;
}

main .goals {
    height: 29vh;
    top: 616px;
    width: 32rem;
    position: absolute;
    right: 3px;
}

}

@media screen and (min-width:765px) and (max-width:920px){
 .container{
    width: 92%;
 }  
 
 aside .sidebar{
    height: 39rem;
}

 main .all-finDtls{
    grid-template-columns: 1fr;
 }

 main .card,.balance{
    width: 42vw;
 }
 
 main .card .card-header img{
    position: relative;
    left: 175px;
}
 
 main .balance{
    height: 90%;
 }

 main .share{
    width: 42vw;
 }

 main .share i{
    position: relative;
    top: 5%;   
 }

 .right-section{
    width: 20vw;
    height: 95vh;
 }

 .nav{
    position: relative;
    left: -5vw;
 }

 .profile .sub-menu-div {
    position: relative;
    top: 7% !important;
    left: -37vw;
 }

 main .expense-tracker {
    height: 30vh;
    width: 47vw;
    position: absolute;
    left: 16px;
}

main .goals {
    height: 30vh;
    top: 616px;
    width: 47vw;
    position: absolute;
    right: -1px;
}
}

@media (min-width:360px) and (max-width:880px){

    .container{
        width: 80%;
    }

aside{
    height: 10vh;
}
span.material-symbols-outlined.menu {
    position: relative;
    left: 131px;
}

aside .toggle h2{
    font-weight: 700;
}
    aside .toggle .close {
        display: block; /* Show the close button on mobile */
    }

    aside .sidebar {
        position: fixed; /* Fix the sidebar position */
        top: 0;
        left: -100%; /* Hide the sidebar initially */
        width: 22vw; /* Set the sidebar width */
        height: 39rem; /* Full height */
        transition: left 0.3s ease; /* Smooth transition for opening/closing */
        z-index: 1000; /* Ensure the sidebar is on top */
    }

    aside .sidebar.open {
        left: 0;
        width: 38vw;
    }
    main .all-finDtls {
        grid-template-columns: 1fr;
        position: relative;
        left: -234px;
    }
    
    main .card{
        width: 314px;
     }
     
     main .card .card-header img{
        position: relative;
        left: 175px;
    }
     
    main .balance {
        height: 90%;
        width: 300px;
    }
    main .share{
        width: 314px; 
    }

     main .share i{
        position: relative;
        top: 5%;   
     }
    
     main .expense-tracker {
        position: relative;
        width: 98vw;
        left: -62vw;
        z-index: 4;
    }

    main .goals{
        position: relative;
        width: 98vw;
        left: -62vw;
        z-index: 4;   
    }

    .right-section {
        width: 92vw;
        height: 39vh;
        position: relative;
        top: -19%;
        left: -14%;
    }

     .nav {
        position: relative;
        left: -133vw;
    }
    main .expense-tracker .expenseCard p {
        position: relative;
        margin-left: 5%;
        top: 32%;
        left: -10%;
        font-size: 9px;
        color: #fff;
    }
    main .expense-tracker .expenseCard input {
        position: relative;
        left: 15%;
        font-size: 14px;
        border: none;
        outline: none;
        background: transparent;
        color: #fff;
    }
    main .expense-tracker .expenseCard .redIcon {
        border-radius: 100%;
        width: 15px;
        height: 15px;
        background-color: #fff;
        position: relative;
        top: 42%;
        left: 10%;
    }
    main .expense-tracker .expenseCard {
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        width: 107%;
        height: 8vh;
        background-color: #f44336;
    }
    main .expense-tracker .bin {
        position: relative;
        left: -3%;
        top: 14%;
        color: #fff;
    }
    main .goals #goal-items .goal-date {
        color: #333;
        font-size: 7px;
        position: relative;
        top: 42%;
        left: -23px;
    }
    span.material-symbols-outlined.bin2 {
        color: #181a1e;
        position: relative;
        top: 29%;
        left: 0%;
    }
    main .goals #goal-items input {
        font-size: 18px;
        border: none;
        outline: none;
        background: transparent;
        font-size: 19px;
        position: relative;
        width: 110px;
        left: 6px;
    }
}
